@import "../scss/breakpoints";

.socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 72px;

  @include md {
    width: 90%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0 auto;
    gap: 64px;
  }
  .socialItems {
    gap: 24px;
    width: 80%;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include md {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      width: 100%;
      height: 24px;
    }
  }
}